@import url('https://fonts.googleapis.com/css?family=');

html, body {

    height: 100%;
    width: 100%;
    font-family: "Avenir Next Regular" !important;
    color:white;
    background-color: rgb(255,255,255);
}

#titolo{

    font-family: "Avenir Next Regular";
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

#sottotitolo{
    font-family: "Avenir Next";
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

#motto{
    font-family: "Avenir Next";
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

#testata{
    background-color: springgreen;
    position: relative;
}